@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  /* background-color: #777; */
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;
}